body,html
{
    background:#210049;
    box-sizing: border-box;
}
body
{
    padding:10px 0 0 10px;
    font-family:'Avenir Next LT Pro';
}
.phone
{
    background: url(../images/iphone.svg);
background-size: 100%;
    border-radius: 30px 30px;
    padding: 88px 0 0 22px;
    width: 335px;
    box-sizing: border-box;
    height: 680px;
}
.phone .screen
{
    border: 1px solid #FFF;
    border-radius: 3px;
    height: 507px;
    overflow: hidden;
    position: relative;
    width:288px;
}

.preloader
{
    background:#FFF url(../images/preloader.gif) no-repeat center;
    background-size:80px;
}

section.active
{
    left:0;
    top:0;
    position:absolute;
    opacity:1;
    transition:opacity 0.3s;
}
section
{
    height:100%;
    opacity:0;
    transition:opacity 0.3s;
    width:100%;
}
section div
{
    height:507px;
    
    position:relative;
}
#s5 div
{
    overflow-y:scroll;
}



#s1
{
    background:url(../images/loguin.jpg) no-repeat;
    background-size:100% auto;
}
#s1 button
{
    background: #000;
    position: absolute;
    left: 8px;
    top: 390px;
    height: 40px;
    opacity:0;
}


#s2
{
    background:url(../images/clave.jpg) no-repeat;
    background-size:100% auto;
}
#s2 button
{
    background: #000;
    position: absolute;
    height: 40px;
    width:40px;
    opacity:0;
}
#s2 span
{
    background:#FB2F72;
    background:transparent no-repeat;
    display:block;
    height:40px;
    position: absolute;
    width:33px;
}
#s2 span.filled
{
    background-image:url(../images/clave_rosa.jpg);
    background-size:100% auto;
}
#s2 .b1
{
    left: 40px;
    top: 258px;
}
#s2 .b2
{
    left: 120px;
    top: 258px;
}
#s2 .b3
{
    left: 220px;
    top: 258px;
}
#s2 .b4
{
    left: 40px;
    top: 308px;
}
#s2 .c1
{
    left: 70px;
    top: 80px;
}
#s2 .c2
{
        left: 110px;
    top: 80px;
}
#s2 .c3
{
        left: 150px;
    top: 80px;
}
#s2 .c4
{
        left: 185px;
    top: 80px;
}
#s3
{
    background:url(../images/acciones.jpg) no-repeat;
    background-size:100% auto;
}
#s3 button
{
    background: #000;
    position: absolute;
    height: 80px;
    width: 60px;
    opacity: 0;
    top: 287px;
    left: 20px;
}
#s4,#s5,#s6
{
    background:#AADFE5;
}
#s5 div form
{
    padding-bottom:40px;
}
#s4 header
{
    background:url(../images/top-metas.png) no-repeat;
    background-size:100% auto;
    height:20px;
    margin:10px auto;
    position:Relative;
}
header button
{
    background:#000;
    height:20px;
    width:20px;
    opacity: 0;
}
header .back
{
    left:0;
    top:0;
}
header .add
{
    right:0;
    top:0;
    position:absolute;
}
.gnrlbtn
{
    border:2px solid #742FE1;
    border-radius:20px;
    box-sizing: border-box;
    display:block;
    color:#742FE1;
    font-weight: bold;
    margin:20px auto;
    font-size:1.5em;
    padding:5px 10px;
    text-align: center;
}
.gnrlbtn:active
{
    background:#742FE1;
    color:#FFF;
}
#s4 p
{
    background:url(../images/s4-instructions.png) no-repeat;
    background-size:100% auto;
    height:150px;
    margin:100px auto 20px auto;
}

#s5 header
{
    background:url(../images/top-newgoal.png) no-repeat;
    background-size:100% auto;
    height:20px;
    margin:10px auto;
    position:Relative;
}
#s5 p, #yei_spot,#s5 aside, #s5 .modes, #s6 p, #s6 aside
{
    margin:0 auto;
    width:90%;
}
#s5 p label, #s5 p.likealabel, #s6 p label
{
    background:#C8F7F3;
    box-sizing: border-box;
    border-radius:3px 3px 0 0;
    color:#52C0CC;
    display:block;
    font-size:1.3em;
    padding:5px 20px;
}
#s5 input, #s5 aside span,#s5 aside ul li,#s6 input
{
    background: #F1FAFB;
    box-sizing: border-box;
    border:0;
    border-top:1px solid #52C0CC;
    color:#868686;
    display:block;
    font-size:1.3em;
    padding:5px 20px;
    width: 100%;
}
#s5 p.featured input,#s6 p.featured input
{
    background: #F1FAFB;
    color:#210049;
    font-size:2.3em;
    padding:20px;
}
#yei_spot li
{
    background:#FFF url(../images/manito_azul-01.svg) no-repeat 5% center;
    background-size:auto 70%;
    position:relative;
}
#yei_spot li.current .add
{
    background: url(../images/agregar_azulagua.svg) no-repeat;
    background-size:100%;
    display:block;
    height:24px;
    position: absolute;
    top:50%;
    margin-top:-12px;
    right:10px;
    width:24px;
}
#yei_spot input
{
    background: transparent;
    padding:20px 20px 20px 50px;
}
#s5 aside span
{
    background-image:url(../images/list_gris.svg);
    background-position:95% center;
    background-repeat: no-repeat;
    padding:10px 20px;
}
#s5 aside ul
{
    max-height:0;
    overflow: hidden;
    transition:max-height 0.3s;
}
#s5 aside ul.opened
{
    max-height:100px;
    transition:max-height 0.3s;
}
#s5 aside ul li
{
    background:#FFF;
    cursor: pointer;
    padding-left:40px;
}
#s5 aside ul li:active
{
    background:#E7E7E7;
}
#s5 .modes 
{
    margin:40px auto;
}
#s5 .modes li
{
    background: #DDD center 10px no-repeat;
    background-size: 35px auto;
    border-radius: 4px;
    /* box-sizing: border-box; */
    color: #210049;
    /* height: 50px; */
    float: left;
    margin: 0 7px;
    padding: 55px 5px 5px 5px;
    text-align: center;
    width:24%;
}
#s5 .modes li.active
{
    background-color:#FFF;
}
#s5 .modes li:nth-child(1)
{
    background-image:url("../images/bajo_grande.svg");
}
#s5 .modes li:nth-child(2)
{
    background-image:url("../images/grande_bajo.svg");
    background-size:50px auto;
    padding-top:70px;
    -webkit-transform:scale(1.2,1.2);
}
#s5 .modes li:nth-child(3)
{
    background-image:url("../images/igual-01.svg");
}
#s5 header .ok
{
    right:0;
    top:0;
    position:absolute;
}

#s6 header
{
    background:url(../images/top-edit.png) no-repeat;
    background-size:100% auto;
    height:20px;
    margin:10px auto;
    position:Relative;
}
#s6 hgroup
{
    color:#FFF;
    box-sizing: border-box;
    font-size:1.1em;
    font-weight: bold;
    margin:30px auto;
 
}
#s6 hgroup i
{
    background:#4375FF;
    display:block;
    font-style:normal;
    padding:10px 30px;
}
#s6 hgroup i strong
{
    float:left;
}
#s6 hgroup i span
{
    float:right;
}
#s6 hgroup i.ranking
{
    background:#103A99;
    
    cursor:pointer;
    font-size:1.4em;
}
#s6 aside
{
    background:#F1FAFB;
    padding:20px 0;
    position: relative;
}
#s6 aside strong
{
    background:#D9D9D9;
    border-radius:3px;
    height:5px;
    display:block;
    width:90%;
    margin:0 auto;
}
#s6 aside span
{
    color:#868686;
    position:absolute;
     top:0;
}
#s6 aside span:nth-child(1)
{
    
    left:20px;
   
}
#s6 aside span:nth-child(2)
{

    right:20px;

}
#s6 aside strong b
{
    background: #43CEA2;
    border-radius:3px;
    display:block;
    height:5px;
    width:0;
}
#s7
{
    background:#742FE1;
}
#s7 h1
{
    background:url(../images/trofeo_blanco.svg) no-repeat left center;
    background-size:auto 100%;
    box-sizing: border-box;
    color:#FFF;
    font-size:2em;
    font-weight: bold;
    margin:40px auto 20px auto;
    padding-left:50px;
    text-transform: uppercase;
}
#s7 ul
{
    margin:0 auto;
}
#s7 ul li
{
    box-sizing: border-box;
    color: #FFF;
    font-size: 1.3em;
    padding: 6px 20px;
    width: 100%;
    margin: 0 auto;
}
#s7 ul li.me
{
    background:#FFF;
    color:#220248;
}
#s7 ul li span
{
    font-weight: bold;
        font-size: 1.4em;
}
#s7 a
{
    border:1px solid #FFF;
    border-radius:10px;
    color:#FFF;
    display:block;
    font-size:1.3em;
    margin:20px auto;
    padding:3px 10px;
    text-align: center;
}
#s7 a:active
{
    background:#FFF;
    color:#220248;
}
#s8
{
    background:#742FE1;
}
#s8 header
{
    background:url(../images/top-retos.png) no-repeat;
    background-size:147% auto;
    height:20px;
    margin:10px auto;
    position:Relative;
}
#s8 h2
{
    color: #FFF;
    font-size: 1.8em;
    margin: 30px auto 40px auto;
    text-align: center;
    line-height: 1.5em;
}
#s8 ul
{
    margin:0 auto;
}
#s8 ul li
{
    background:url(../images/manito_azul_oscuro.svg) no-repeat #FFF 10px center;
    background-size:auto 40px;
    box-sizing: border-box;
    border-radius:4px;
    color:#868686;
    cursor:pointer;
    font-size:1.1em;
    margin:12px 0;
    padding:10px 10px 10px 60px;
    text-align: left;
}
#s8 ul li span
{
    color:#210049;
    display: block;
    font-size:1.7em;
    margin-top:5px;
}
#s9
{
    background:url(../images/escritorio.jpg) no-repeat;
    background-size:100% auto;
}
#s9 button
{
    background: #000;
    height:60px;
    position: absolute;
    left: 30px;
    top: 140px;
    width:60px;
    opacity: 0;
}
#s10
{
    background:url(../images/pide.jpg) no-repeat;
    background-size:100% auto;
}
#s11
{
    background:url(../images/pide2.jpg) no-repeat;
    background-size:100% auto;
}
#s11 p input
{
    position: absolute;
    border: 0;
    padding: 10px 10px;
    top: 150px;
    left: 10px;
    width: 87%;
    font-size: 1.2em;
}
#s11  button
{
    background:#000;
    height:30px;
    position:absolute;
top: 290px;
    left: 8px;
    opacity:0;
}
.link
{
    display:block;
    color:#220248;
    font-size:1.2em;
    text-align: center;
    text-decoration: underline;
}
article
{
    background:rgba(255, 47, 115,0.9);
    box-sizing: border-box;
    color:#FFF;
    text-align: center;
    height:100%;
    padding:100px 40px 0 40px;
    position:absolute;
    top:0;
    left:0;
    -webkit-transform:scale(0,0);
    -webkit-transform-origin:100% 0;
    transition:transform 0.2s ease-in;
}
article.marginless
{
    padding-top:10px;
    font-size:0.9em;
}
article.opened
{
    -webkit-transform:scale(1,1);
    transition:transform 0.2s ease-in;
}
article.marginless h1
{
    margin-top:15px;
}
article h1
{
    font-size:2em;
    font-weight: bold;
    text-transform: uppercase;
    margin:40px 0 20px 0;
    
}
article h2
{
    font-size:1.6em;
    margin:15px 0;
}
article p
{
    font-size:1.2em;
}
article p
{
    font-size:1.5em;
}
article .gnrlbtn
{
    border-color:#FFF;
    color:#FFF;
}
article .link
{
    
    color:#FFF;
}

.steps
{
    color:#FFF;
    font-size:2em;
    position:absolute;
    right:30px;
    top:30px;
    text-decoration: underline;
}
.steps li
{
    margin:10px 0;
}
footer
{
    background:#000;
    box-sizing: border-box;
    color:#FFF;
    cursor: pointer;
    font-size:1.2em;
    top:-50px;
    left:0;
    padding:5px;
    position:absolute;
    z-index:9999;
    width:100%;
}

